* {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  max-width: 750px; /* px-to-viewport-ignore */
}

body {
  background-color: rgb(250, 247, 247);
  min-width: 300px;
}
